includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    excludes_analyse:
        - vendor
    ignoreErrors:
        # This is unfixable without an upstream change to the interface.
        - '#Multiple\(\) should be contravariant with parameter#'
        # Same
        - '#^Parameter \#1 \$exception of method PHPUnit\\Framework\\TestCase::expectException\(\) expects class-string<Throwable>, string given.$#'
    level: max
    paths:
        - .
